//- WORKAROUND FOR DEFAULTS
mixin mixin(mixin,mixinDefault)
  - try {
      if mixin
        +#{mixin}
      else
        - throw new Error();
  - } catch(err) {
      if mixinDefault
        +#{mixinDefault}
  - }
  
mixin box(style)
  block
  
  mixin headerDefault
    | HEADER
    
  mixin contentsDefault
    | CONTENTS
    
  mixin footerDefault
    | FOOTER
  
  div.box(class=style)
      div.box-header.with-border
          h3.box-title
            +mixin('header','headerDefault')
      div.box-body
        +mixin('contents','contentsDefault')
      div.box-footer
        +mixin('footer', 'footerDefault')

mixin icon(ic)
  i.fa(class=ic aria-hidden="true")
  
