div.pull-right.hidden-xs
  b Version
  |  1.0.0
    
b: a(href="http://github.com/") GOTHAM
|  follows #[a(href="") GPLv2 licenses] |
| made by 
b: a(href="http://mobilelab.khu.ac.kr") Mobile Convergence Lab.
|  @ #[a(href="http://khu.ac.kr") KyungHee Univ.]
| South Korea
