extends base.jade

block body
  body.skin-yellow-light.fullpage
    div.wrapper
      header.main-header
        a.logo(href="/main.html") 
          span.logo-lg 
            b GOTHAM 
            | ADMIN
        nav.navbar.navbar-static-top(role="navigation")
        
    block content
        
