extends base.jade

block body
  body.skin-yellow-light.fullpage
    div.wrapper
      header.main-header
        a.logo(href="/") 
          span.logo-lg 
            b G
            | OTHAM ADMIN
        nav.navbar.navbar-static-top(role="navigation")
        
    block content
        
