header.main-header
  a.logo(href="/main.html") 
    span.logo-lg 
      b GOTHAM 
      | ADMIN
    span.logo-mini 
      | GTM
  nav.navbar.navbar-static-top(role="navigation")
    a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      include sidemenu.jade
