mixin list_header(target)
  if sidemenu == target
    li.active
      block
  else
    li
      block

li.header 
  | GOTHAM1.local
+list_header(1)
  a(href="/main.html")
    i.fa.fa-dashboard
    span Dashboard
+list_header(2)
  a(href="/netconf.html")
    i.fa.fa-files-o
    span Network
+list_header(3)
  a(href="#")
    i.fa.fa-th
    span Extensions
        
